@media screen {
    header {
        flex-wrap: wrap;
    }
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 5%;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

body {
    background-color: antiquewhite;
}

section {
    text-align: center;
}

#sect1 {
    margin-top: 90px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-left: -70vh;
}

a {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
}

img {
    position: relative;
    width: 8vh;
    height: 8vh;
    margin-left: -30vh;
}

#email {
    width: 25vh;
    height: 3vh;
}

video {
    width: 60vh;
    height: 60vh;
}

li {
    font-size: 20px;
}

ul {
    margin-top: 5vh;
}