body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #222222;
    color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1 {
    font-size: 35px;
}

h1, p {
    text-align: center;
}

label {
    display: block;
    margin: 0.5rem 0;
}

#submit {
    display: block;
}