@media screen {
    nav a {
        font-size: 23px;
        text-align: justify;
        align-content: space-between;
        margin: 0 20px 0 20px;
        color: rgb(207, 206, 206);
    }
}

nav {
    background-color: rgb(94, 92, 92);
    padding: 25px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(233, 255, 233);
}

#welcome-section {
    margin-top: 15vh;
    text-align: center;
}

ul {
    margin-top: 5vh;
}

ul a {
    margin: 0 16vh 0 16vh;
}

ul img {
    margin: 0 25px 0 25px;
}

#project-tile {
    display: grid;
    grid-template-columns: 1rf 1rf 1rf;
    grid-template-rows: 1rf 1rf 1rf;
    gap: 20px;
}

a {
    font-size: 22px;
}

section {
    margin-bottom: 25vh;
}

footer {
    margin-bottom: 10vh;
}

h2 {
    margin-left: 5vh;
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 22px;
}

#p1 {
    margin-top: 15vh;
}

img {
    height: 20%;
    width: 20%;
}

li a {
    margin-left: 12vh
}