body {
    background-color: #000033;
    color: white;
}

img {
    display: block;
}

#image {
    max-width: 100%;
    width: 80%;
    height: auto;
    margin:auto;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

#caption {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin-top: -15px;
}

#tribute-info {
    font-family: "Montserrat", "Avenir", "Segeo UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

ul, li {
    margin: 10px 0 7px 50px;
    font-size: 16px;
}